<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container myPage my-pass">
	<div class="myPage-container">
			<h3 class="my-title text-center mt-3 mx-5 pb-3">비밀번호 변경</h3>
			<div class="sign-form">
				<form th:action="@{/member/change}" th:object="${memberChPass}"
					method="post">

					<label for="password" class="form-label">현재 비밀번호:</label> <input
						type="password" th:field="*{password}" class="form-control"
						required>
					<div th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">비밀번호 오류</div>

					<label for="password1" class="form-label">새 비밀번호:</label> <input
						type="password" th:field="*{password1}" class="form-control"
						required>
					<div th:if="${#fields.hasErrors('password1')}"
						th:errors="*{password1}">새 비밀번호 오류</div>

					<label for="password2" class="form-label">새 비밀번호 확인:</label> <input
						type="password" th:field="*{password2}" class="form-control"
						required>
					<div th:if="${#fields.hasErrors('password2')}"
						th:errors="*{password2}">새 비밀번호 확인 오류</div>

					<!-- 오른쪽 끝에 배치하는 부분 -->
					<div class="text-end">
						<button type="submit" class="btn btn-okay my-3">비밀번호
							변경</button>
					</div>
				</form>
			</div>
	</div>
</div>
<script layout:fragment="script">
	
</script>
</html>
