<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container myMemberList">
    <!-- 제목 -->
    <h5 class="border-bottom py-4">유저목록</h5>
    <form th:action="@{/member/delete}" method="post" id="mainForm" onsubmit="return handleDeleteSubmit(event)">
        <!-- 버튼 -->
        <div class="row my-3">
            <div class="col-3 text-start">
                <input type="submit" value="삭제" class="btn btn-primary" id="btn_delete">
            </div>
            <div class="col-3 text-start">
                <input type="submit" class="btn btn-secondary" id="btn_promote" formaction="@{/member/promote}" form="promoteForm" value="관리자 임명">
            </div>
            
            <div class="col-6">
                <div class="input-group">
                    <input type="text" id="input_keyword" class="form-control" th:value="${keyword}">
                    <a class="btn btn-outline-secondary" type="button" id="btn_search"><i class="bi bi-search"></i></a>
                </div>
            </div>
        </div>
        <table class="table text-center table-hover">
            <thead>
                <tr class="text-muted">
                    <td>번호</td>
                    <td>아이디</td>
                    <td>이름</td>
                    <td>이메일</td>
                    <td>가입일</td>
                    <td>등급</td>
                    <td>선택</td>
                    <td style="display:none;">id</td>
                </tr>
            </thead>
            <tbody> 
                <tr th:each="member, loop:${paging}" th:if="${member.username != 'manager' and member.username != currentUser.username}">
                    <td class="text-start" th:text="${paging.getTotalElements() - (paging.number * paging.size) - loop.index}"></td>
                    <th class="text-center" th:text="${member.username}">아이디</th>
                    <td class="text-center" th:text="${member.userDisName}">이름</td>
                    <td class="text-center" th:text="${member.email}">이메일</td>
                    <td class="text-center" th:text="${#temporals.format(member.userRegDt,'yyyy-MM-dd HH:mm')}">가입일</td>
                    <!-- 등급에 따른 텍스트 표시 -->
                    <td class="text-center" th:if="${member.userGrade == 1}" th:text="'관리자'"></td>
                    <td class="text-center" th:if="${member.userGrade == 0}" th:text="'사용자'"></td>
                    <td class="text-center"><input type="checkbox" name="memberIds" id="check_btn" th:value="${member.id}"></td>
                    <td style="display:none;" th:text="${member.id}">id</td>
                </tr>
            </tbody>
        </table>
    </form>
    <!-- 관리자 임명 폼 -->
    <form th:action="@{/member/promote}" method="post" id="promoteForm" onsubmit="return handlePromoteSubmit(event)" style="display:none;">
        <input type="hidden" name="memberIds">
    </form>
    <!-- paging start -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <!-- 맨 처음: 첫 페이지가 아니면 class disabled 추가 -->
            <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="0"><span><i class="bi bi-chevron-double-left"></i></span></a>
            </li>
        
            <!-- 이전: 이전 페이지가 존재하지 않으면 class disabled 추가 -->
            <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}"><span>이전</span></a>
            </li>
            <!-- 1,2,3,.... 페이지 번호 제한 -->
            <li th:each="page:${#numbers.sequence(paging.number <= 2 ? 0 : paging.number - 2, paging.number <= 2 ? 4 : paging.number + 2)}" th:if="${page >= 0 && page < paging.totalPages}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page + 1}" class="page-link" href="javascript:void(0)" th:data-page="${page}">1</a>
            </li>
            <!-- 다음: 다음 페이지가 존재하지 않으면 class disabled 추가 -->
            <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">다음</a>
            </li>
           <!-- 마지막: 마지막 페이지가 아니면 class disabled 추가 -->
            <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.totalPages-1}"><span><i class="bi bi-chevron-double-right"></i></span></a>
            </li>
        </ul>
    </div>
    
    <!-- paging end--------------------------------------------- -->
    
    <!-- 검색 form -->
    <form th:action="@{/member/list}" method="get" id="searchForm">
        <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<script layout:fragment="script">

    function isCheckboxChecked() {
        const checkboxes = document.querySelectorAll('input[name="memberIds"]:checked');
        return checkboxes.length > 0;
    }

    function getCheckedMemberIds() {
        const checkboxes = document.querySelectorAll('input[name="memberIds"]:checked');
        const memberIds = Array.from(checkboxes).map(cb => cb.value);
        return memberIds;
    }

    document.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // 기본 Enter 키 동작을 막음
            document.getElementById('btn_search').click(); // btn_search 버튼 클릭
        }
    });

    const btn_search = document.getElementById("btn_search");
    if (btn_search) {
        btn_search.addEventListener('click', function() {
            document.getElementById("keyword").value = document.getElementById("input_keyword").value;
            document.getElementById("page").value = 0;
            document.getElementById("searchForm").submit();
        });
    }

    const page_elements = document.getElementsByClassName("page-link");
    if (page_elements) {
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById("page").value = this.dataset.page;
                document.getElementById("keyword").value = document.getElementById("input_keyword").value;
                document.getElementById("searchForm").submit();
            });
        });
    }

    // 삭제 폼 전송 핸들러
    function handleDeleteSubmit(event) {
        event.preventDefault(); // 기본 폼 제출 동작 막기

        // 체크박스 선택 여부 확인
        if (!isCheckboxChecked()) {
            alert("적어도 하나의 항목을 선택해야 합니다.");
            return false;
        }

        if (confirm("삭제하시겠습니까?")) {
            // AJAX 요청 보내기
            const form = document.getElementById("mainForm");
            const formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("서버 오류");
                }
                return response.text();
            })
            .then(data => {
                alert("삭제가 완료되었습니다.");
                location.reload(); // 페이지 새로고침
            })
            .catch(error => {
                alert("삭제 중 오류가 발생했습니다. 다시 시도해 주세요.(댓글을 확인해주세요.)");
            });

            return false; // 폼 제출 중단
        } else {
            return false; // 확인 창에서 취소를 누를 시 기본 동작 막기
        }
    }

    // 관리자 임명 폼 전송 핸들러
    function handlePromoteSubmit(event) {
        event.preventDefault(); // 기본 폼 제출 동작 막기

        // 체크박스 선택 여부 확인
        if (!isCheckboxChecked()) {
            alert("적어도 하나의 항목을 선택해야 합니다.");
            return false;
        }

        if (confirm("관리자로 임명하시겠습니까?")) {
            // Hidden input에 체크된 memberIds 설정
            const memberIds = getCheckedMemberIds();
            document.querySelector('#promoteForm input[name="memberIds"]').value = memberIds.join(',');

            // AJAX 요청 보내기
            const form = document.getElementById("promoteForm");
            const formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("서버 오류");
                }
                return response.text();
            })
            .then(data => {
                alert("관리자 임명이 완료되었습니다.");
                location.reload(); // 페이지 새로고침
            })
            .catch(error => {
                alert("임명 중 오류가 발생했습니다. 다시 시도해 주세요.");
            });

            return false; // 폼 제출 중단
        } else {
            return false; // 확인 창에서 취소를 누를 시 기본 동작 막기
        }
    }

</script>

