<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container myMemberList mypage-margin">
	<div class="mx-4">
		<h3 class="title">내가 작성한 글</h3>
		<!-- Combined Questions -->
		<div class="sign-form">
			<div th:each="question : ${paging.content}" class="question-item"
				th:onclick="|location.href='@{${question.type == 'report'} ? '/report/question/detail/' + ${question.id} : '/qna/question/detail/' + ${question.id}}'|">
				<div>
					<span
						th:classappend="${question.type == 'report'} ? 'question-badge badge-report' : 'question-badge badge-qna'"
						th:text="${question.type == 'report'} ? '제보게시판' : 'QnA'"
						class="my-2"></span><br> <span th:text="${question.subject}"
						class="question-title"></span>
					<p th:text="${question.content}" class="question-content"></p>
				</div>
			</div>
		</div>
	
		<!-- paging start -->
		<div th:if="${!paging.isEmpty()}" class="my-4">
			<ul class="pagination justify-content-center">
				<!-- 맨 처음: 첫 페이지가 아니면 class disabled 추가 -->
				<li class="page-item" th:classappend="${paging.first} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="0"><span><i
							class="bi bi-chevron-double-left"></i></span></a>
				</li>
	
				<!-- 이전: 이전 페이지가 존재하지 않으면 class disabled 추가 -->
				<li class="page-item"
					th:classappend="${!paging.hasPrevious()} ? 'disabled'"><a
					class="page-link" href="javascript:void(0)"
					th:data-page="${paging.number-1}"><span>이전</span></a></li>
				<!-- 1,2,3,.... 페이지 번호 제한 -->
				<li
					th:each="page:${#numbers.sequence(paging.number <= 2 ? 0 : paging.number - 2, paging.number <= 2 ? 4 : paging.number + 2)}"
					th:if="${page >= 0 && page < paging.totalPages}"
					th:classappend="${page == paging.number} ? 'active'"
					class="page-item"><a th:text="${page + 1}" class="page-link"
					href="javascript:void(0)" th:data-page="${page}">1</a></li>
				<!-- 다음: 다음 페이지가 존재하지 않으면 class disabled 추가 -->
				<li class="page-item"
					th:classappend="${!paging.hasNext()} ? 'disabled'"><a
					class="page-link" href="javascript:void(0)"
					th:data-page="${paging.number+1}">다음</a></li>
				<!-- 마지막: 마지막 페이지가 아니면 class disabled 추가 -->
				<li class="page-item" th:classappend="${paging.last} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)"
					th:data-page="${paging.totalPages-1}"><span><i
							class="bi bi-chevron-double-right"></i></span></a>
				</li>
			</ul>
		</div>
		<!-- paging end--------------------------------------------- -->
	</div>

	<!-- 검색 form -->
	<form th:action="@{/member/myquestion}" method="get" id="searchForm">
		<input type="hidden" id="page" name="page" th:value="${paging.number}">
	</form>
</div>
<script layout:fragment="script">
	
</script>
</html>
