@charset "UTF-8";

body {
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
}

textarea {
	width: 100%;
}

input[type=submit] {
	margin-top: 10px;
}

.sidebar {
	height: 100vh;
}

.region-link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	width: 100%;
	padding: 10px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.region-link:hover {
	color: #0d6efd !important;
	--bs-link-transform: translate3d(0, -.125rem, 0);
}

.iconDiv {
	width: 100px;
	margin: auto;
}

.icon {
	margin: 0 10px;
	align-content: center;
}

.iconText {
	align-items: center;
}

.typeBtn {
	background-color: #f8f9fa; /* 기본 배경색 (연한 회색) */
	color: #333; /* 기본 글자색 */
	padding: 10px 15px;
	border-radius: 5px;
	transition: background 0.3s, color 0.3s;
}

.typeBtn.active {
	background-color: #9bcbff; /* 활성화 시 배경색 (빨간색) */
	color: white; /* 활성화 시 글자색 */
}

/* 회원가입 CSS */
.underline-input {
	border: none;
	border-bottom: 2px solid lightgray;
	border-radius: 0;
	outline: none;
	box-shadow: none;
}

.underline-input:focus {
	border-bottom: 2px solid lightgray;
}
/* 회원가입 CSS */

/* 로그인 CSS */
.myContainer {
	max-width: 500px !important;
	margin: 100px auto; /* 수직 및 수평 중앙 배치 */
	margin-top: 80px !important;
	padding: 20px;
}

.border-bottom {
	border-bottom: 2px solid #007bff;
}

.btn-dark {
	font-size: 1.25em; /* 버튼 크기를 크게 조정 */
	padding: 10px 20px; /* 버튼 패딩 조정 */
	width: 100%; /* 버튼 너비를 100%로 설정 */
}

.btn-dark:hover {
	background-color: #007bff;
}

.form-label {
	font-weight: bold;
}

.form-control {
	height: 50px; /* 입력란 높이 조정 */
}

.alert-danger {
	color: #dc3545;
}

.additional-links a {
	font: bold;
	font-size: 0.9em;
	color: gray;
	text-decoration: none;
	margin-right: 10px;
}

.additional-links a:hover {
	text-decoration: underline;
}

.error-message {
	color: red;
	font-size: 0.8em;
	margin-top: 5px;
}
/* 로그인 CSS */

/* 게시판 CSS */
.myMargin {
	margin: 100px auto; /* 수직 및 수평 중앙 배치 */
	margin-top: 80px !important;
	padding: 20px;
}
/* 게시판 CSS */

/* FAQ CSS */
.faq-title {
	border: 1px solid #ccc;
	padding: 10px;
}

.circle-number {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	margin-right: 10px;
}
/* FAQ CSS */