<div th:fragment="leftNavbarFragment"
	class="sidebar position-fixed bg-dark text-white d-flex flex-column"
	style="width: 400px; height: 100vh; top: 80px; left: 0;">
	
	<!-- 🚥 네모형 버튼 (3x2 Grid) -->
	<div class="btncontainer">
		<div class="row" style="--bs-gutter-x:0; width: 100%;">
			<!-- g-2 : 버튼 간격 조정 -->
			<div class="col-4" style="height:70px;">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-end border-bottom border-opacity-25"
					id="accidentBtn" style="border-radius:0;" data-type="accident">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-car-burst fa-2x"></i>
						<span class="iconText">사고</span>
					</div>
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-bottom border-opacity-25"
					id="constructionBtn" style="border-radius:0;" data-type="construction">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-person-digging fa-2x"></i>
						<span class="iconText">작업</span>
					</div>
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-start border-bottom border-opacity-25"
					id="weatherBtn" style="border-radius:0;" data-type="weather">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-cloud-sun fa-2x"></i>
						<span class="iconText">날씨</span>
					</div>
				</button>
			</div>
			<div class="col-4" style="height:70px;">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-end border-opacity-25"
					id="cctvBtn" style="border-radius:0;" data-type="cctv">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-video fa-2x"></i>
						<span class="iconText">CCTV</span>
					</div>
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3"
					id="freezingBtn" style="border-radius:0;" data-type="freezing">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-snowflake fa-2x"></i>
						<span class="iconText">결빙</span>
					</div>
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-start border-opacity-25"
					id="tunnelBtn" style="border-radius:0;" data-type="tunnel">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-car-tunnel fa-2x"></i>
						<span class="iconText">터널</span>
					</div>
				</button>
			</div>
		</div>
	</div>
	
	<div class="road-info-container">
		<div class="infoHeader">
			<h4>실시간 교통정보</h4>
		</div>
		<!-- 🏷 선택한 항목에 대한 정보 표시 -->
		<div class="info-section tab-content flex-grow-1 text-center">
			<div class="accidentList">
				<ul>
					<li th:each="accident: ${accidentList}">
						<strong class="titleInfo" th:text="${accident.road_title}"></strong>
						<p class="addrInfo" th:text="'위치: ' + ${accident.road_addr}"></p>
						<p class="timeInfo" th:text="'시간: ' + ${accident.road_start} + ' ~ ' + ${accident.road_end}"></p>
					</li>
				</ul>
				<ul id="constructionList">
					<li th:each="construction: ${construnctionList}">
						<strong class="titleInfo" th:text="${construction.road_title}"></strong>
						<p class="addrInfo" th:text="'위치: ' + ${construction.road_addr}"></p>
						<p class="timeInfo" th:text="'시간: ' + ${construction.road_start} + ' ~ ' + ${construction.road_end}"></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>
