<div th:fragment="leftNavbarFragment"
	class="sidebar position-fixed bg-dark text-white d-flex flex-column"
	style="width: 400px; height: 100vh; top: 80px; left: 0;">
	
	<!-- 🚥 네모형 버튼 (3x2 Grid) -->
	<div class="btncontainer">
		<div class="row" style="--bs-gutter-x:0; width: 100%;">
			<!-- g-2 : 버튼 간격 조정 -->
			<div class="col-4" style="height:70px;">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-end border-bottom border-opacity-25"
					id="accidentBtn" style="border-radius:0;" data-type="accident">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-car-burst fa-2x"></i>
						<span class="iconText">사고</span>
					</div>
					
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-bottom border-opacity-25"
					id="constructionBtn" style="border-radius:0;" data-type="construction">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-person-digging fa-2x"></i>
						<span class="iconText">작업</span>
					</div>
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-start border-bottom border-opacity-25"
					id="weatherBtn" style="border-radius:0;" data-type="weather">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-cloud-sun fa-2x"></i>
						<span class="iconText">날씨</span>
					</div>
				</button>
			</div>
			<div class="col-4" style="height:70px;">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-end border-opacity-25"
					id="cctvBtn" style="border-radius:0;" data-type="cctv">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-video fa-2x"></i>
						<span class="iconText">CCTV</span>
					</div>
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3"
					id="freezingBtn" style="border-radius:0;" data-type="freezing">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-snowflake fa-2x"></i>
						<span class="iconText">결빙</span>
					</div>
				</button>
			</div>
			<div class="col-4">
				<button class="typeBtn btn btn-light w-100 h-100 py-3 border-start border-opacity-25"
					id="tunnelBtn" style="border-radius:0;" data-type="tunnel">
					<div class="iconDiv d-flex align-items-center justify-content-between">
						<i class="icon fa-solid fa-car-tunnel fa-2x"></i>
						<span class="iconText">터널</span>
					</div>
				</button>
			</div>
		</div>
	</div>

	<!-- 🏷 선택한 항목에 대한 정보 표시 -->
	<div class="tab-content flex-grow-1 overflow-auto mt-3 text-center"
		id="trafficTabContent">
		<div id="constructionDataContainer" class="construction-data mt-3">
			
		</div>
		<ul id="constructionList" style="display: none;">
			<li th:each="construction: ${construnctionList}"
					th:data-title="${construction.road_title}"
					th:data-location="${construction.road_addr}"
					th:data-duration="${construction.road_start} + ' ~ ' + ${construction.road_end}">
			</li>
		</ul>

		<!-- 🚧 사고 정보 -->
		<div class="tab-pane fade show active" id="accident">
			<h4 class="title">서해안선(서울방향)</h4>
			<button class="btn btn-light mx-2 py-3 border border-opacity-25" style="width: 95%; height:120px;">
				정체 | 차량증가/정체
			</button>
		</div>

	</div>
</div>
