<nav th:fragment = "navbarFragment" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/report/question/list}">SBB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/report/question/list}">제보</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/notice/question/list}">공지사항</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/qna/question/list}">Q&A</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/faq/question/list}">FAQ</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/member/list}">회원 관리</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" sec:authorize="isAnonymous()" aria-current="page" th:href="@{/member/login}">로그인</a>
		<a class="nav-link active" sec:authorize="isAuthenticated()" aria-current="page" th:href="@{/member/logout}">로그아웃</a>
      </div>
      <a class="nav-link active" sec:authorize="isAuthenticated()" aria-current="page" th:href="@{/member/profile}">마이페이지</a>
      <!-- user/signup_form -->
      <div class="navbar-nav">
        <a class="nav-link active" sec:authorize="isAnonymous()" aria-current="page" th:href="@{/member/signup}">회원가입</a>
      </div>
    </div>
  </div>
</nav>