<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db6b66ee32de5c188c171ffea6d8fe47"></script>
</head>
<body>
	<div id="map" style="width:100%;height:800px;"></div>
	
	<button id="freezingBtn">결빙 마커 보기</button>
	
	
	<script th:inline = "javascript">
		
		var mapContainer = document.getElementById('map');
		   
	    var mapOption = {
	        center: new kakao.maps.LatLng(37.566826, 126.9786567), 	
	        level: 10
	    };
	   
    
	   	var map = new kakao.maps.Map(mapContainer, mapOption);
	
		var freezingImageSrc = "\images\freezing-icon.png";
		var imageSize = new kakao.maps.Size(24,21);
		
		var freezingMarkerImage = new kakao.maps.MarkerImage(freezingImageSrc, imageSize);
		
		var freezingList = /*[[${freezingInfo}]]*/ [];
		
		freezingList.forEach(function(freeze){
			
			var linePath = [
				new kakao.maps.LatLng(freeze.freezingStartLat, freeze.freezingStartLon),
				new kakao.maps.LatLng(freeze.freezingEndLat, freeze.freezingEndLon)
			];
			
			var polyline = new kakao.maps.Polyline({
			    path: linePath, // 선을 구성하는 좌표배열 입니다
			    strokeWeight: 5, // 선의 두께 입니다
			    strokeColor: '#', // 선의 색깔입니다
			    strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
			    strokeStyle: 'solid' // 선의 스타일입니다
			
			});
			
			polyline.setMap(map);
		});
		
	</script>
	
</body>
</html>