<html layout:decorate="~{layout}">
<div layout:fragment="content"
	class="container-fluid flex-grow-1 position-relative" id="map"
	style="height: calc(100vh - 80px); margin-top: 80px; margin-left: 400px;">
	<div
		class="position-absolute start-50 translate-middle-x bg-white border border-4 border-warning-subtle shadow p-3 rounded"
		style="top: 3%; z-index: 1000;">
		<marquee behavior="scroll" direction="left" scrollamount="5"
			class="fs-5 fw-bold text-danger"> 🚨 [공지] 현재 서울 강남구 일대 도로
			공사로 인해 정체가 심합니다. 우회 도로를 이용해주세요! 🚨 </marquee>
	</div>
	<div class="position-absolute bg-white shadow rounded-1"
		style="top: 4%; right: 2%; z-index: 1000; border: 2px solid #ccc;">
		<div class="row m-0 text-center" style="width: 170px;">
		<div class="col-12 align-content-center px-2 py-1 border-bottom border-end border-opacity-25">
        <a href="#" class="region-link nav-link p-2"
          onclick="moveToRegion('nationwide')"
          style="--bs-link-hover-color: #0d6efd;">안전지수</a>
      </div>
			<div class="col-6 align-content-center px-2 py-1 border-bottom border-end border-opacity-25">
				<a href="#" class="region-link nav-link p-2"
					onclick="moveToRegion('nationwide')"
					style="--bs-link-hover-color: #0d6efd;">전국</a>
			</div>
			<div class="col-6 align-content-center px-2 py-1 border-bottom border-opacity-25">
				<a href="#" class="region-link nav-link p-2"
					onclick="moveToRegion('seoul')">수도권</a>
			</div>
			<div class="col-6 align-content-center px-2 py-1 border-bottom border-end border-opacity-25">
				<a href="#" class="region-link nav-link p-2"
					onclick="moveToRegion('gangwon')">강원권</a>
			</div>
			<div class="col-6 align-content-center px-2 py-1 border-bottom border-opacity-25">
				<a href="#" class="region-link nav-link p-2"
					onclick="moveToRegion('chungcheong')">충청권</a>
			</div>
			<div class="col-6 align-content-center px-2 py-1 border-end border-opacity-25">
				<a href="#" class="region-link nav-link p-2"
					onclick="moveToRegion('jeolla')">전라권</a>
			</div>
			<div class="col-6 align-content-center px-2 py-1">
				<a href="#" class="region-link nav-link p-2"
					onclick="moveToRegion('gyeongsang')">경상권</a>
			</div>
		</div>
	</div>
</div>

<!-- script태그 안에있는 thymeleaf문 해석하려고 th:inline 사용 -->
<script layout:fragment="script" th:inline="javascript">
	var accidentList = /*[[${accidentList}]]*/[];
	var constructionList = /*[[${constructionList}]]*/[];
	var findNowWeather = /*[[${findNowWeather}]]*/[];
	var cctvInfo = /*[[${cctvInfo}]]*/[];
	var freezingInfo = /*[[${freezingInfo}]]*/[];
	var tunnelInfo = /*[[${tunnelInfo}]]*/[];
	var safetyIndex = /*[[${safetyIndex}]]*/[];

	console.log(accidentList);
	console.log(constructionList);
	console.log(findNowWeather);
	console.log(cctvInfo);
	console.log(freezingInfo);
	console.log(tunnelInfo);
	console.log(safetyIndex);
</script>
</html>
